<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

    {% if not_authorised %}
        <script type="text/javascript">
            var oauth_url = 'https://www.facebook.com/dialog/oauth/';
            oauth_url += '?client_id=462258703786082';
            oauth_url += '&redirect_uri=' + encodeURIComponent('//apps.facebook.com/hurtnheal/');
            //oauth_url += '&scope=COMMA_SEPARATED_LIST_OF_PERMISSION_NAMES'                
            window.top.location.href = oauth_url;
        </script>
    {% endif %}
        
        <title>Hurt 'n' Heal</title>
        
    <script type="text/JavaScript" src="static/jquery.js"></script>
    <script type="text/JavaScript" src="static/jquery.facebook.multifriend.select.js"></script> 
    <style type="text/css">
        body { 
            font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
            margin: 0;
            border: 1px solid gray;
            overflow: hidden;
            margin-top: -2em;
            padding-top: -2em;
        }
        
        body > * {
            padding-left: 1em;
        }
        
        .status {
            padding-left: 1em;
        }
        
        #new-action {
            margin: 1em 1em 1em 0;
        }
        
        #action-form {
            width: 100%;
            border: 1px solid #BDC7D8; 
            background-color: white;
        }
        
        #action-narration {
            border: none;
            resize: none;
            outline: 0;
            font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
            margin: 0;
            padding: 0.25em;
            width: 100%;
            height: 5em;
        }
        
        #action-selection {
            padding: 0.25em;
        }
        
        #jfmfs-container {
            border: 1px solid #BDC7D8; 
            border-bottom: none;
            width: 100%;
        }

     </style>
    <link rel="stylesheet" href="static/jquery.facebook.multifriend.select.css" />
    </head>  
    <body>

        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '462258703786082', // App ID
              channelUrl : '//chees-hurtnheal.appspot.com/static/channel.html', //'//apps.facebook.com/hurtnheal/static/channel.html', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });
            window.onload = function() {
                FB.Canvas.setAutoGrow(100); //Run the timer every 100 milliseconds, you can increase this if you want to save CPU cycles
            }
            
            $("#jfmfs-container").jfmfs({'max_selected':1});
            // Additional initialization code here
          };

          // Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
           
        </script>   
        
        <h2>HURT 'n' HEAL</h2>
        <div class='status'>
            <table>
                <tr>
                    <td rowspan=2><img src="http://graph.facebook.com/{{player.userid}}/picture"></img></td><td><strong>{{player.nickname}}</strong></td>
                </tr>
                <tr>
                    <td style='font-size:0.8em'>
                    {% for item in status.attribute_state %}
                        <div style='padding:1px;font-size:0.65em;margin:1px;display:inline-block;width:200px;border:1px solid grey' title='{{item.name}}: {{item.value|floatformat:"-1"}}/{{item.max_value|floatformat:"-1"}}'>
                            <div style='width:{{item.percentage}}%;display:inline-block;background-color:{{item.color}}'>&nbsp;</div>
                        </div> 
                        {{item.name}}<br>
                    {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    {% if action %}
        <div class='action'>
            <span style='color: gray; font-size: 11px'>
                {{action.gen_age}}, 
                {% ifequal player.key.name action.actor.key.name %}you{% else %}{{action.actor.nickname}}{% endifequal %} 
                {{action.past_tense}} 
                {% ifequal player.key.name action.target.key.name %}yourself{% else %}{{action.target.nickname}}{% endifequal %}                     
                ( {{action.target_effects}} )</em>
            </span>
            <br><em>{{action.narration}}</em>
        </div>
    {% endif %}        

        <div id="new-action">
            <div>
                <div id="jfmfs-container"></div>
            </div>    
            <form id="action-form" method='POST'>
                <input type='hidden' name='signed_request' value='{{signed_request}}'></input>
                <input type='hidden' name='target_network' value='facebook'></input>
                <input id='target_id_hidden' type='hidden' name='target_id' value='{{user.id}}'></input>
                <input id='target_username_hidden' type='hidden' name='target_username' value='{{user.username}}'></input>
                <div style='overflow:hidden'>
                    <textarea id="action-narration" name='narration'></textarea>
                </div>                
                <div id="action-selection" style='background-color: #F2F2F2;border-top: 1px solid #E6E6E6;'>
                    <div>
                        <input type='submit' name='action' value='hurt'></input>
                        <input type='submit' name='action' disabled='yes' value='devastate'></input>
                        <input type='submit' name='action' disabled='yes' value='annihilate'></input>
                    </div>
                    <div>
                        <input type='submit' name='action' value='heal'></input>
                        <input type='submit' name='action' disabled='yes' value='restore'></input>
                        <input type='submit' name='action' disabled='yes' value='resurrect'></input>
                    </div>
                    
                </div>                
            </form>
        </div>
        
        <script>
            $("#action-form").submit(
                function () { 
                    if ($("#action-narration").val() == "") {
                        alert('please enter a narration!');
                        return false;
                    } else {
                        var friendSelector  = $("#jfmfs-container").data('jfmfs');
                        var selectedFriend = friendSelector.getSelectedIdsAndNames()[0];
                        $("#target_id_hidden").val(selectedFriend.id);
                        $("#target_username_hidden").val(selectedFriend.name);
                        return true;
                    }
                }
            );
        </script>
        
    {% for value in interesting %}
        <div style='border-top: 1px solid #E9E9E9; margin-bottom: 1em; padding-top: 1em; padding-left: 1em'>
            <table>
                <tr>
                    <td rowspan=2><img src="http://graph.facebook.com/{{value.person.userid}}/picture"></img></td><td><strong>{{value.person.nickname}}</strong></td>
                </tr>
                <tr>
                    <td style='font-size:0.8em'>           
                    {% for item in value.status.attribute_state %}
                        <div style='padding:1px;font-size:0.65em;margin:1px;display:inline-block;width:200px;border:1px solid grey' title='{{item.name}}: {{item.value|floatformat:"-1"}}/{{item.max_value|floatformat:"-1"}}'>
                            <div style='width:{{item.percentage}}%;display:inline-block;background-color:{{item.color}}'>&nbsp;</div>
                        </div>
                        {{item.name}}<br>
                    {% endfor %}      
                    </td>
                </tr>
            </table>                  
        {% if value.action %}
            <div class='action'>
                <span style='color: gray; font-size: 11px'>
                    {{value.action.gen_age}}, 
                    {% ifequal player.key.name value.action.actor.key.name %}you{% else %}{{value.action.actor.nickname}}{% endifequal %} 
                    {{value.action.past_tense}} 
                    {% ifequal player.key.name value.action.target.key.name %}yourself{% else %}{{value.action.target.nickname}}{% endifequal %}                     
                    ( {{value.action.target_effects}} )</em>
                </span>
                <br><em>{{value.action.narration}}</em>
            </div>       
        {% endif %}
        </div>
    {% endfor %}

    {% comment %}
        <h2>Debug</h2>
        <ul>
        {% for key,value in user.items %}
            <li>{{key}}: {{value}}</li>
        {% endfor %}
        </ul>
        <ol>
        {% for key,value in interesting.items %}
            <li>{{value.person.nickname}}: {{value.test}}</li>
        {% endfor %}
        </ol>
    {% endcomment %}
    
    </body>
</html>






